.error__description {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: var(--error-description-main-color);
  margin: 5px auto 0;
  padding: 0;
}
